asgiref
certifi
charset-normalizer
contourpy
cycler
Django
djangorestframework
fonttools
idna
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
psycopg2-binary
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
seaborn
setuptools
six
sqlparse
threadpoolctl
tzdata
urllib3

