pandas
numpy
scikit-learn
xgboost
catboost
lightgbm


tensorflow
torch
keras

albumentations
imgaug
opencv-python


matplotlib
seaborn
plotly
yellowbrick
shap


nltk
transformers


Django
djangorestframework

 Operationsfastapi
uvicorn
aiohttp


scipy
joblib
h5py


gunicorn
